/*
	==========================
	Panel styling
	==========================
*/
.panel, .panel-heading, .panel-body {
	-webkit-border-radius: 0 !important;
	   -moz-border-radius: 0 !important;
			border-radius: 0 !important;
}

.news > .panel-heading {
	background-color: #30445D;
	border: 1px solid #30445D;
}

.twitter > .panel-heading {
	background-color: #0084b4;
	border: 1px solid #0084b4;
}
.twitch > .panel-heading {
	background-color: #6441a5;
	border: 1px solid #6441a5;
}

.youtube > .panel-heading {
	background-color: #bb0000;
	border: 1px solid #bb0000;
}

.news {
	border: 1px solid #30445D;
}

.twitter {
	border: 1px solid #0084b4;
}

.twitch {
	border: 1px solid #6441a5;
}

.youtube {
	border: 1px solid #bb0000;
}

.fixed-panel {
	min-height: 20vh;
	max-height: 20vh;
	overflow-y: auto;
}

/*
	==========================
	News article styling
	==========================
*/
.newsarticle {
	border: 1px solid black;
	padding: 3px;
	width: 100%;

	border-left: 6px solid #62C0DC;
}

.newstitle {
	font-size: 15px;
}

.newsarticle:hover {
	background-color: #E7E7E7;
	cursor: pointer;
}

a.showAllNews {
	color: white !important;
	cursor: pointer;
}

/*
	==========================
	Misc styling
	==========================
*/
.banner {
	/*background-image: url('https://puu.sh/v1gBJ.png');*/
	background-size: cover;
	min-height: 120px;
	max-height: 120px;
}

.bannerBackdim {
	display: flex;
  	justify-content: flex-end;
	min-height: inherit;
	background-color: rgba(0, 0, 0, 0.2);
}

.bannerContent {
	padding-right: 15px;
	padding-left: 15px;
	align-self: center;
}

.extraSpacing3 {
	padding: 3px;
}

.extraSpacing10 {
	padding: 10px;
}
